PORT=4000
DATABASE_URL="postgresql://user:password@localhost:5432/ctp_portal?schema=public"
JWT_ACCESS_SECRET="ganti_dengan_secret_access_yg_aman"
JWT_REFRESH_SECRET="ganti_dengan_secret_refresh_yg_aman"
REDIS_URL="redis://localhost:6379"
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_USE_SSL="false"
